body {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
p {
  margin: 0;
}

hr {
  display: none;
}

.main {
  flex-grow: 1;
}

.footer {
  background-color: #000;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  padding: 20px;
  position: sticky;
  bottom: 0;
}

.main-bg {
  background-color: #000;
  color: #fff;
}