body {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

hr {
  display: none;
}

.main {
  flex-grow: 1;
}

.footer {
  position: sticky;
  bottom: 0;
}



.main-bg {
  background-color: #000;
  color: #fff;
}