.btn {
  color: var(--main-text-color);
  background-color: var(--main-brand-color);
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid var(--main-brand-color);
  padding: .7rem;
  display: inline-block;
  &.secondary {
    background-color: transparent;
    border: 1px var(--main-text-color) solid;
  }
}


.form__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  label {
    margin-bottom: 0.6rem;
  }
  .input {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--input-bg-color);
    color: var(--main-text-color);
  }
  [type="file"] {
    display: none;
  }
}

@media (hover: hover) {
  .pointer {
    cursor: pointer;
  }
  .btn {
    cursor: pointer;
    &:hover {
      background-color: var(--main-brand-color-light);
    }
  }
}