:root {
  --bg-color: #000;
  --main-brand-color: #e50914;
  --main-brand-color-light: #e44c54;
  --secondary-brand-color: #0e1b4f;
  --main-text-color: #fff;
  --border-color: #4b5563;
  --main-font-family: "Roboto", Arial, Helvetica, sans-serif;
  --input-bg-color: #333;
  font-size: 20px;
  font-family: var(--main-font-family);
}

.main-bg {
  text-align: center;
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

* {
  box-sizing: border-box;
}

@media print {
  header.header, .footer, .banner {
    display: none;
  }
}